{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between rounded-top">
  <a class="navbar-brand" href="#">Hub</a>
    <a id="last_poll" class="nav-item nav-link disabled" tabindex="-1" aria-disabled="true">Polled: </a>
  <div class="" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <button type="button" id="toggleConsole" onclick="display_hub_console()" class="btn btn-sm btn-outline-secondary">View Logs</button>
    </div>
  </div>
</nav>

<div id="alert" class="alert alert-danger" role="alert" style="display:none">
</div>

<div id="hub_console_div" class="form-group" style="display:none">
    <textarea class="form-control form-control-sm" rows="20" id="hub_console" disabled>...</textarea>
</div>

<div id="hub_event" style="display:none">
</div>

<p id="hub_spacer" style="display:none"></p>

<div id="hub" style="display:block">
</div>

<div class="modal fade deviceEdit" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="card">
                <h5 id="details" class="card-header">Details</h5>
                <div class="card-body">
                  <form>
                    <div class="form-group">
                    <textarea id="deviceDetails" class="form-control" rows="15" disabled>Loading...</textarea>
                    </div>
                    </form>
                    <a id="viewDevice" href="" target="_blank"><button type="button" class="btn btn-secondary">View</button></a>
                    <a id="editDevice" href="" target="_blank"><button type="button" class="btn btn-secondary">Edit</button></a>
                    <button type="button" id="deleteDevice" onclick="" class="btn btn-outline-secondary" data-dismiss="modal">Clear DB</button>
                    <button type="button" id="close"  class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" charset="utf-8">

            function display_hub_console() {
            var div = document.getElementById("hub_console_div");

            if ( div.style.display === "none" ){
            div.style.display = "block";
            } else {
            div.style.display = "none";
            }
            }

            var socket = io.connect('http://' + document.domain + ':' + location.port);
            console.log('http://' + document.domain + ':' + location.port);
            socket.on('connect', function() {
            });

            // SOCKET

            function getDevice(serial) {
            // console.log(serial);
            socket.emit('getDevice', {"device": serial});
            };

            socket.on('hub_console', function(msg) {
                display_hub_console();
                console.log(msg);
                var hub_console = document.getElementById("hub_console");
                hub_console.value += ('[' + msg['event_time'] + ']: ' + msg['event'] + '\n');
                hub_console.scrollTop = hub_console.scrollHeight;
            });

            socket.on('foundDevice', function(msg) {
            str_msg = JSON.stringify(msg, null, 4);
            $("#deviceDetails").val(str_msg);

            if (typeof msg['device_sn'] != "undefined") {
            device_sn = msg['device_sn'];
            device_repo_blob = msg['device_repo_blob'];
            device_repo_edit = msg['device_repo_edit'];

            document.getElementById('viewDevice').setAttribute( "href", device_repo_blob );
            document.getElementById('editDevice').setAttribute( "href", device_repo_edit );
            document.getElementById('deleteDevice').setAttribute( "onClick", "deleteDevice(device_sn)" );

            $('#details').html('Details for ' + device_sn);
            };
            });

            function deleteDevice(device) {
            // console.log('Requesting device ' + device + 'be deleted');
            socket.emit('deleteDevice', {'deleteDevice': device});
            };

            socket.on('deletedDevice', function(msg) {
            str_msg = JSON.stringify(msg, null, 4);
            // console.log(str_msg);
            });


            socket.emit('dsc', {'event': 'Get devices'});

            socket.on('dsc', function(msg) {
                // console.log(msg);

                var card = "";
                var card_event = "";
                var obj = msg['device'];

                for (var key in obj){
                const object = obj[key]
                // console.log(key);

                var hostname = object['hostname'];
                var config = object['config'];
                var srx_cluster = object['srx_cluster'];
                var device_sn = key;
                var last_seen = object['Last seen'];

                // console.log('-------');

                var badge = "badge-light";

                if (srx_cluster == "True"){
                var cluster_stat = "cluster";
                } else {
                cluster_stat = "stand alone";
                }

                if (config != 'compliant'){
                var badge = "badge-warning";

                card_event += '' +

                '<li class="list-group-item d-flex justify-content-between align-items-center">' + hostname +
                '<span class="badge badge-light">' + cluster_stat + '</span>'+
                '<span class="badge badge-light">' + device_sn + '</span>'+
                '<a href="hub/device/' + device_sn + '" class="badge ' + badge + '" target="_blank">' + config + '</a>'+
                '<button id="' + device_sn + '" type="button" class="btn btn-light btn-sm" data-toggle="modal" onclick="getDevice(this.id)" data-backdrop="static" data-target=".deviceEdit">Details</button>'+
                '</li>';

                } else

                card += '' +

                '<li class="list-group-item d-flex justify-content-between align-items-center">' + hostname +
                '<span class="badge badge-light">' + cluster_stat + '</span>'+
                '<span class="badge badge-light">' + device_sn + '</span>'+
                '<a href="hub/device/' + device_sn + '" class="badge ' + badge + '" target="_blank">' + config + '</a>'+
                '<button id="' + device_sn + '" type="button" class="btn btn-light btn-sm" data-toggle="modal" onclick="getDevice(this.id)" data-backdrop="static" data-target=".deviceEdit">Details</button>'+
                '</li>';

                }

                if(card_event){

                var div = document.getElementById("hub_event");
                div.style.display = "block";
                var div = document.getElementById("hub_spacer");
                div.style.display = "block";

                $('#hub_event').html('' +
                '<div class="card rounded-0">' +
                '<ul class="list-group list-group-flush">' +
                card_event +
                '</ul>' +
                '</div>');

                } else {

                var div = document.getElementById("hub_event");
                div.style.display = "none";
                var div = document.getElementById("hub_spacer");
                div.style.display = "none";

                }

                $('#hub').html('' +
                '<div class="card rounded-0">' +
                '<ul class="list-group list-group-flush">' +
                card +
                '</ul>' +
                '</div>');

                //document.getElementById("hub").innerHTML = txt

                document.getElementById("last_poll").innerHTML = 'Polled: ' + msg['last_poll'];

                if (msg['db_error']){
                //console.log(msg['db_error']);
                $('#alert').html(msg['db_error']);
                var div = document.getElementById("alert");
                div.style.display = "block";
                var div = document.getElementById("hub");
                div.style.display = "none";
                } else {
                var div = document.getElementById("alert");
                div.style.display = "none";
                var div = document.getElementById("hub");
                div.style.display = "block";
                }

                //document.getElementById("hub").innerHTML = JSON.stringify(msg['device'], null, 4);
            });

            // END
</script>



{% endblock %}